name: BlockElectricity
on:
  push:
    branches:
      - main
    paths:
      - CustomSprites/BlockElectricity/**.*
    tags:
      - '*'

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Compress
        run: zip -r BlockElectricity.zip CustomSprites/BlockElectricity

      - name: Create / Edit Release
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          name: Electricity Block
          tag: BlockElectricity
          allowUpdates: true
          replacesArtifacts: true
          bodyFile: CustomSprites/BlockElectricity/README.md
          artifacts: BlockElectricity.zip
          artifactContentType: application/zip
