name: Draglet
on:
  push:
    branches:
      - main
    paths:
      - CustomSprites/Draglet/**.*
    tags:
      - '*'

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Compress
        run: zip -r Draglet.zip CustomSprites/Draglet

      - name: Create / Edit Release
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          name: Draglet
          tag: Draglet
          allowUpdates: true
          replacesArtifacts: true
          bodyFile: CustomSprites/Draglet/README.md
          artifacts: Draglet.zip
          artifactContentType: application/zip
