name: Light
on:
  push:
    branches:
      - main
    paths:
      - Utility/Light/**.*
    tags:
      - '*'

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Compress
        run: zip -r Light.zip Utility/Light

      - name: Create / Edit Release
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          name: Light & Light Path
          tag: Light
          allowUpdates: true
          replacesArtifacts: true
          bodyFile: Utility/Light/README.md
          artifacts: Light.zip
          artifactContentType: application/zip
