name: Signboard
on:
  push:
    branches:
      - main
    paths:
      - CustomSprites/Signboard/**.*
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Compress
        run: zip -r Signboard.zip CustomSprites/Signboard

      - name: Create / Edit Release
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          name: Signboard
          tag: Signboard
          allowUpdates: true
          replacesArtifacts: true
          bodyFile: CustomSprites/Signboard/README.md
          artifacts: Signboard.zip
          artifactContentType: application/zip
